<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.csun_sunlink.csuncareercenter">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignIn"
            android:label="Sign In">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".SignUp"
            android:label="Sign Up">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".SignUpContinue"
            android:label="Sign Up"></activity>
        <activity
            android:name=".HomePage"
            android:label="Home Page"></activity>
        <activity
            android:name=".Search.SearchDetail"
            android:label="Search Detail">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Search.SearchStart2" />
        </activity>
        <activity
            android:name=".Profile.ProfileActivity"
            android:label="Profile Main">
            android:label="Profile">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomePage" />
        </activity>
        <activity
            android:name=".Search.SearchStart2"
            android:label="@string/title_activity_search_start1"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomePage" />
        </activity>
        <activity
            android:name=".Profile.PersonalEditActivity"
            android:label="Profile Edit">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Profile.ProfileActivity"/>
        </activity>
    </application>

</manifest>